@font-face {
      font-family: 'SUITE-Regular';
      src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
      font-weight: 800;
      font-style: normal;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'SUITE-Regular', Arial, sans-serif;
    }

    body {
      background-color: #f1f1f1;
      color: #333;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      padding: 20px 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    nav .nav-item {
      display: flex;
      align-items: center;
      color: #383838;
      font-size: 1.2rem;
      text-decoration: none;
      margin: 0 10px;
      transition: color 0.3s ease;
    }

    nav .nav-item:hover {
      color: #1b1b1b;
    }

    nav .nav-icon {
      margin-right: 5px;
      font-size: 1.4rem;
    }

    .category-filter {
      display: flex;
      align-items: center;
      margin: 15px;
      border-radius: 10px;
      size: 10px;
    }

    .category-filter select {
      margin-left: 10px;
      padding: 8px;
      font-size: 1rem;
      border-radius: 10px;
      size: 10px;
    }

    .container {
      max-width: 500px;
      margin: 20px auto;
      padding: 0 10px;
    }

    .dong {
      font-size:0.1px;
    }

    .booth-card {
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      margin: 20px 0;
      text-align: center;
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: scale(0.98);
      transition: transform 0.3s ease;
    }

    .booth-card:hover {
      transform: scale(1.02);
    }

    .booth-card img {
      width: 100%;
      height: auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: relative;
    }

    .location {
      font-size: 0.9rem;
      font-weight: bold;
      padding: 5px 8px;
      border-radius: 5px;
      color: #333;
      background-color: #e0e0e0;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .booth-card h2 {
      font-size: 1.2rem;
      color: #3f3f3f;
      margin: 15px 0 5px;
    }

    .booth-card p {
      font-size: 0.9rem;
      color: #555;
      padding: 0 15px 15px;
    }

    footer {
      background-color: #1f1f1f;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 30px;
    }
