@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: "GmarketSansMedium", cursive;
	background-color: #1a1a1a;
}

span {
  font-family: "GmarketSansMedium", cursive;
  font-size: 12px;
}
h1 {
	font-size: 2em;
	text-align: center;
	margin-top: 200;
	margin-bottom: 200;
	padding: 40;
}

html {
	color:white;
}
.menu {
	background-color: #2e2e2e;
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 40px;
	box-shadow: 0px 0px 10px #494949;
	margin: 20px auto;
	max-width: 600px;
}
.menu h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.menu li {
	margin: 5px 0;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #eee;
	font-weight: bold;
	display: inline-block;
}
